<button (click)="onBackButtonClicked()">Go Back</button>
<!--<form #recipeForm="ngForm">-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <mat-form-field appearance="outline">-->
<!--        <input matInput placeholder="name" name="name" type="text" [(ngModel)]="model.payload.name" required>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <input matInput placeholder="description" type="text" name="description" [(ngModel)]="model.payload.description">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <input matInput placeholder="ingredients" type="text" name="ingredients" [(ngModel)]="model.payload.ingredients">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <textarea matInput placeholder="instructions" name="instructions" [(ngModel)]="model.payload.instructions"></textarea>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <input matInput placeholder="servings" type="number" name="servings" [(ngModel)]="model.payload.servings">-->
<!--      </mat-form-field>-->

<!--      &lt;!&ndash;        <mat-form-field appearance="outline">&ndash;&gt;-->
<!--      &lt;!&ndash;          <input matInput placeholder="upload file" type="file" name="imageFile" [(ngModel)]="imageFile">&ndash;&gt;-->
<!--      &lt;!&ndash;        </mat-form-field>&ndash;&gt;-->

<!--      <mat-form-field appearance="outline">-->
<!--        <input matInput placeholder="source name" type="text" name="sourceName" [(ngModel)]="model.payload.source.display_name">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <input matInput placeholder="source URL" type="text" name="sourceUrl" [(ngModel)]="model.payload.source.source_recipe_url">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <input matInput placeholder="prep time" type="number" name="prepTime" [(ngModel)]="model.payload.durations.prep_time">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <input matInput placeholder="cook time" type="number" name="cookTime" [(ngModel)]="model.payload.durations.cook_time">-->
<!--      </mat-form-field>-->

<!--      &lt;!&ndash;      <mat-form-field appearance="outline">&ndash;&gt;-->
<!--      &lt;!&ndash;        <input matInput placeholder="collection" name="collection" [(ngModel)]="model.collection_ids">&ndash;&gt;-->
<!--      &lt;!&ndash;      </mat-form-field>&ndash;&gt;-->
<!--      <br>-->
<!--      <button mat-stroked-button color="secondary" type="submit" name="submit" value="Submit">Submit</button>-->
<!--      <button mat-stroked-button color="accent" type="reset" name="submit" value="Reset">Reset</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
